
 /* Common */
 .index {position: relative;top: 30px; left: 20px;border: none;color: rgb(0, 0, 0);padding: 15px 20px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;top: 0px; }
 .helio300 {position: relative;top: 30px; left: 80px;border: none;color: rgb(0, 0, 0);padding: 15px 20px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;top: 0px }
 .helio500 {position: relative;top: 30px; left: 140px;border: none;color: rgb(0, 0, 0);padding: 15px 20px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;top: 0px }
 .helio700 {position: relative;top: 30px; left: 200px;border: none;color: rgb(0, 0, 0);padding: 15px 20px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;top: 0px }
 .compare{position: relative;top: 30px; left: 260px;border: none;color: rgb(0, 0, 0);padding: 15px 20px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;top: 0px ; }     
 .index:hover {background-color:#ffaf04;box-shadow: 0 9px rgb(255, 0, 0) }
  .index:active {background-color: #ffaf04;box-shadow: 0 5px #666;transform: translateY(4px);}
  .helio300:hover {background-color:#ffaf04;box-shadow: 0 9px rgb(255, 0, 0) }
  .helio300:active {background-color: #ffaf04;box-shadow: 0 5px #666;transform: translateY(4px);}
  .helio500:hover {background-color:#ffaf04;box-shadow: 0 9px rgb(255, 0, 0)}
  .helio500:active {background-color: #ffaf04;box-shadow: 0 5px #666;transform: translateY(4px);}
  .helio700:hover {background-color:#ffaf04;box-shadow: 0 9px rgb(255, 0, 0) }
  .helio700:active {background-color: #ffaf04;box-shadow: 0 5px #666;transform: translateY(4px);}
  .compare:hover {background-color:#ffaf04 ;box-shadow: 0 9px rgb(255, 0, 0)}
  .compare:active {background-color: #ffaf04;box-shadow: 0 5px #666;transform: translateY(4px);}
  #f1{color:rgb(255,255,255,0.5); position: absolute; left:150px ;margin-top: 650px;font-size: calc(0.17857vw + 0.83929rem)}
  #f2{color:rgb(255,255,255,0.5); position: absolute; left:450px ;margin-top: 650px;font-size: calc(0.17857vw + 0.83929rem)}
  #f3{color:rgb(255,255,255,0.5); position: absolute; left:750px ;margin-top: 650px;font-size: calc(0.17857vw + 0.83929rem)}
  #f4{color:rgb(255,255,255,0.5); position: absolute; left:1050px ;margin-top: 650px;font-size: calc(0.17857vw + 0.83929rem)}
  #f11{color:#00aecd; position: absolute; left:90px ;margin-top: 675px;}
  #f22{color:#00aecd; position: absolute; left:450px ;margin-top: 675px;}
  #f33{color:#00aecd; position: absolute; left:675px ;margin-top: 675px;}
  #f44{color:#00aecd; position: absolute; left:1030px ;margin-top: 675px;}
  #f111{color:rgb(255,255,255,0.5); position: absolute; left:130px ;margin-top: 705px;font-size: calc(0.17857vw + 0.83929rem)}
  #f222{color:rgb(255,255,255,0.5); position: absolute; left:445px ;margin-top: 705px;font-size: calc(0.17857vw + 0.83929rem)}
  #f333{color:rgb(255,255,255,0.5); position: absolute; left:760px ;margin-top: 705px;font-size: calc(0.17857vw + 0.83929rem)}
  #f444{color:rgb(255,255,255,0.5); position: absolute; left:1025px ;margin-top: 705px;font-size: calc(0.17857vw + 0.83929rem)}
 
 /* HOME */
  #home1{position: absolute;top: 50px;left: 5px;width: 1350px;}
  #ho1{position: absolute; top: 500px;left: 10px;width: 350px;}
  #ho2{position: absolute; top: 500px;left: 240px;width: 350px;}
  #ho3{position: absolute; top: 500px;left: 440px;width: 350px;}
  #ho4{position: absolute; top: 500px;left: 640px;width: 350px;}
  #ho5{position: absolute; top: 500px;left: 840px;width: 350px;}
  #ho6{position: absolute; top: 500px;left: 1040px;width: 350px;}
  #ho7{position: absolute; top: 700px;left: 450px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  #ho8{color: rgb(255,255,255,0.5);;position: absolute;top: 750px;left: 50px;width: 1250px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;}
  #ho9{position: absolute;top: 900px;left: 30px;width: 400px;}
  #ho10{color: rgb(255, 255, 255);;position: absolute; top: 1100px;left: 100px;width: 400px;}
  #ho11{color: rgb(255, 255, 255,0.5);;position: absolute; top: 1150px;left: 30px;width: 400px;text-align: center;font-size: 1.25rem;}
  #ho12{position: absolute;top: 900px;left: 480px;width: 400px;}
  #ho13{color: rgb(255, 255, 255);;position: absolute; top: 1100px;left: 530px;width: 400px;}
  #ho14{color: rgb(255, 255, 255,0.5);;position: absolute; top: 1150px;left: 480px;width: 400px;text-align: center;font-size: 1.25rem;}
  #ho15{position: absolute;top: 900px;left: 920px;width: 400px;}
  #ho16{color: rgb(255, 255, 255);;position: absolute; top: 1100px;left: 950px;width: 400px;}
  #ho17{color: rgb(255, 255, 255,0.5);;position: absolute; top: 1150px;left: 920px;width: 380px;text-align: center;font-size: 1.25rem;}
  



/* HELIOS 300 */
  #h2300{color:rgb(255, 255, 255);position: absolute;left: 100px; top: 60px;}
  #h3{position: absolute; top: 110px;left: 200px;}
  #intro{color: rgb(255, 255, 255);text-align: center;font-size: 1.25em;margin-top: 500px ;}
  #fan{position: absolute;top: 600px;left: 450px;width: 400px;}
  #fan31{color:rgb(255, 255, 255);position: absolute; left:450px;font-size: 1.255em;margin-top: 360px;}
  #fan32{color:rgb(255, 255, 255);position: absolute; left:500px;font-size: 18px;width: 300px;margin-top: 390px;text-align: justify;}
  #wifi300{position: absolute;left: 900px;}
  #wifi31{color:rgb(255, 255, 255);position: absolute; left:980px;font-size: 1.255em;margin-top: 360px;width: 500px;}
  #wifi32{color:rgb(255, 255, 255);position: absolute; left:1000px;font-size: 17px;width: 250px;margin-top: 390px;text-align: justify;}
  #nvi300{position: absolute;left: 50px;}
  #nvi31{color:rgb(255, 255, 255);position: absolute; left:50px;font-size: 1.255em;margin-top: 360px;width: 500px;}
  #nvi32{color:rgb(255, 255, 255);position: absolute; left:70px;font-size: 17px;width: 250px;margin-top: 390px;text-align: justify;}
  

/* HELIOS 500 */
#h5{position: absolute; top: 110px;left: 130px;}
#h51{position: absolute; top: 110px;left:730px;}
#cool500{position: absolute;left: 5px;top: 700px;}
#cool51{color:rgb(255, 255, 255);position: absolute; left:120px;font-size: 1.255em;margin-top: 360px;width: 600px;}
#cool52{color:rgb(255, 255, 255);position: absolute; left:50px;font-size: 17px;width: 300px;margin-top: 390px;text-align: justify;}
#wifi500{position: absolute;left: 850px;}
#fan500{position: absolute;top: 270px;left: 100px;}


/* HELIOS 700 */
#h7{position: absolute; top: 0px;left: 130px;}
#cool700{position: absolute;left: 5px;top: 700px;}
#cool71{color:rgb(255, 255, 255);position: absolute; left:70px;font-size: 1.255em;margin-top: 360px;width: 600px;}
#cool72{color:rgb(255, 255, 255);position: absolute; left:80px;font-size: 17px;width: 300px;margin-top: 390px;text-align: justify;}
#wasd{position: absolute;top: 690px;left: 450px;width: 400px;}
#wasd1{color:rgb(255, 255, 255);position: absolute; left:560px;font-size: 1.255em;margin-top: 360px;}
#per71{color:rgb(255, 255, 255);position: absolute; left:890px;font-size: 1.255em;margin-top: 360px;width: 500px;}



/* COMPARE */
h1{color:rgb(255, 255, 255);position: absolute;top: 10px; left: 610px;}
#logo300{ position: absolute;top: 0px; left: 400px;}
#img{position: absolute;top: 2px; left:1200px;}    
#predator{color: rgb(255, 255, 255);position: absolute;top: 0px;left: 400px;}         
body{background-color:black ;}  
/* #compa{background-image: url(https://static.acer.com/up/Resource/Acer/Predator/brand-story/20190926/predator-logo-effect.jpg);  background-repeat: no-repeat; background-size: cover} */
#model{color: blanchedalmond;position: absolute;top: 250px; left: 30px;}   
#heli300{color: blanchedalmond;position: absolute;top: 150px; left: 325px;}
#heli500{color: blanchedalmond;position: absolute;top: 150px; left: 725px;}
#heli700{color: blanchedalmond;position: absolute;top: 150px; left: 1125px;}
#img300{position: absolute;top: 150px; left: 300px;}
#img500{position: absolute;top: 150px; left: 700px;}
#img700{position: absolute;top: 150px; left: 1100px; }
#os{color: rgb(255, 255, 255);position: absolute;top:420px;left:30px}
#os1{color: rgb(255, 255, 255);position: absolute;top:420px;left:350px}
#os2{color: rgb(255, 255, 255);position: absolute;top:420px;left:750px}
#os3{color: rgb(255, 255, 255);position: absolute;top:420px;left:1150px}
#pro{color: rgb(255, 255, 255);position: absolute;top:450px;left:30px}
#p3{color: rgb(255, 255, 255);position: absolute;top:450px;left:350px}
#p5{color: rgb(255, 255, 255);position: absolute;top:450px;left:750px}
#p7{color: rgb(255, 255, 255);position: absolute;top:450px;left:1150px}
#gra{color: rgb(255, 255, 255);position: absolute;top:480px;left:30px}
#g3{color: rgb(255, 255, 255);position: absolute;top:480px;left:350px}
#g5{color: rgb(255, 255, 255);position: absolute;top:480px;left:750px}
#g7{color: rgb(255, 255, 255);position: absolute;top:480px;left:1150px}
#scr{color: rgb(255, 255, 255);position: absolute;top:510px;left:30px}
#s3{color: rgb(255, 255, 255);position: absolute;top:510px;left:350px}
#s5{color: rgb(255, 255, 255);position: absolute;top:510px;left:750px}
#s7{color: rgb(255, 255, 255);position: absolute;top:510px;left:1150px}
#mem{color: rgb(255, 255, 255);position: absolute;top:540px;left:30px}
#m3{color: rgb(255, 255, 255);position: absolute;top:540px;left:350px}
#m5{color: rgb(255, 255, 255);position: absolute;top:540px;left:750px}
#m7{color: rgb(255, 255, 255);position: absolute;top:540px;left:1150px}
#sto{color: rgb(255, 255, 255);position: absolute;top:570px;left:30px}
#sto3{color: rgb(255, 255, 255);position: absolute;top:570px;left:350px}
#sto5{color: rgb(255, 255, 255);position: absolute;top:570px;left:750px}
#sto7{color: rgb(255, 255, 255);position: absolute;top:570px;left:1150px}



